<div class="row">
    <div class="col-xs-12">
      <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive recipe-detail-img">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
        <button 
          type="button" 
          class="btn btn-primary dropdown-toggle"
        >Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" (click)="addToShopingList($event)">Add Ingridients to Shopping List</a></li>
          <li><a href="#" (click)="editRecipe($event)">Edit Recipe</a></li>
          <li><a href="#" (click)="deleteRecipe($event)">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <p><em>{{ recipe.description }}</em></p>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">
    <!-- <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let ingridient of recipe.ingridients; let i = index"
      >{{ingridient.name}}: {{ingridient.amount}}</li>
    </ul> -->
  </div>
</div>